zsh/.zcompdump*
zsh/.zsh_history
zsh/.zsh_sessions
zsh/.zcompcache/*
*.zwc

################################
# Emacs ignores
################################
*~
*.elc
emacs/.cache
emacs/workspace/.cache
emacs/auto-save-list
emacs/.recentf
emacs/savehist
emacs/saveplace
emacs/cider-history
emacs/eshell
emacs/elpa/archives
emacs/el-get
emacs/semanticdb
emacs/url
emacs/ede-projects.el
emacs/custom.el
emacs/places
emacs/.smex-items
emacs/savefile/
emacs/projectile.cache
emacs/projectile-bookmarks.eld
emacs/session*
emacs/.lsp-session*
emacs/.cask
emacs/tramp
emacs/transient
emacs/var/pcache
emacs/.emacs.desktop
emacs/.emacs.desktop.lock
emacs/network-security.data
emacs/emacs-backup
